*{
    padding: 0;
    margin: 0;
    background-color: white;
}
body {
    top: -100px;
}
#game-box {
    height: 500px;
    width: 400px;
    border: 1px solid black;
    margin: auto;
    background-color: lightblue;
    overflow: hidden;
}

#start-screen {
    position: absolute;
    height: 500px;
    width: 400px;
    border: 1px solid black;
    margin: auto;
    background: red;
    text-align: center;
    line-height: 400px;
    z-index: 300;
    display: block;
}



#end-screen {
    position: absolute;
    height: 500px;
    width: 400px;
    border: 1px solid black;
    margin: auto;
    background: green;
    text-align: center;
    line-height: 400px;
    display: block;
    z-index: 30;
}

#end-screen p {
    position: absolute;
    height: 50px;
    width: 400px;
    margin: auto;
    background: green;
    text-align: center;
    line-height: 300px;
    display: block;
    z-index: 30;
}

#end-screen a {
    background-color: white;
    color: black;
    padding: 10px 10px;
    border-radius: 50%;
}

#end-screen a:hover {
    background-color: black;
    color: white;
    padding: 10px 10px;
    border-radius: 50%;
}



#start-screen a {
    background-color: white;
    color: black;
    padding: 10px 10px;
    border-radius: 50%;
}

#start-screen a:hover {
    background-color: black;
    color: white;
    padding: 10px 10px;
    border-radius: 50%;
}

#tube {
    height: 500px;
    background: url(../images/mario.jpeg);
    width: 60px;
    position: relative;
    left: 400px;
    animation: tube-move 2s infinite linear;
}

@keyframes tube-move {
    0%{ left:400px}
    100% {left:-60px}
}

#player {
    height: 25px;
    margin-left: 60px;
    width: 25px;
    border-radius: 12.5px;
    background-color: gold;
    position: absolute;
    z-index: 2;
    top: 100px;
}

#gap {
    height: 150px;
    background-color: lightblue;
    border-top: black solid 3px;
    border-bottom: black solid 3px;
    width: 60px;
    position: relative;
    left: 400px;
    top: -500px;
    animation: tube-move 2s infinite linear;


}

.score-area {
    height: 50px;
    width: 400px;
    border: 1px solid black;
    margin: auto;
    background-color: gold;
    overflow: hidden;
}


#current-score {
    background: white;
    text-align: center;
    font-size: 150%;
}


#high-score {
    background-color: gold;
    color: white;
    text-align: center;
    font-size: 150%;
    font-family: 'VT323';
    line-height: 50px;
}

#score {
    font-family: 'VT323';
    font-size: 200%;
    position: absolute;
    top: 10px;
    color: white;
    background-color: transparent;
    text-align: center;
}


#best {
    font-family: 'VT323';
    text-align: center;
    background-color: gold;
    font-size: 150%;
    line-height: 50px;
}